.container {
    display: flex; 
    height: 100vh; 
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #d8c0f7;
    transform: translateX(-20px);
    overflow-x: hidden;
  }
.calendar{
    position: absolute;
    top:55px;
    left:970px
}
.todo{
    position: absolute;
    top:360px;
    left:970px;
    transform: scale(1, 0.8);  
    transform-origin: top;    
}
